{% extends 'adik/base.html' %}


{% block content %}
<h1>{{title}}</h1> <!-- ниже форма для отправки на сервер-->
<form action="" method="post" enctype="multipart/form-data"> <!-- пустая строка означает что обрабатывается запрос на текущей странице а это значить что через шаблон выходим на текущую(связанную с шаблоном) функцию в views.py(так в django) по умолчанию применяется GET запросы
enctype="multipart/form-data" обязательно для загрузки  на север связанных данных-->
    {% csrf_token %} <!-- обязательно ставиться в целях безопасности(требование django)-->
    {{ form.as_p }}  <!-- строчка {{ form.as_p }} вызывает метод as_p объекта формы для отображения ее полей с тегами абзацев <p>. Существуют и другие методы, которые формируют поля в виде элементов списка <ul>. стоит иметь в виду, что по умолчанию все поля в Django обязательны, если не указано обратное через параметр required=False.  -->
    <p><button type="submit">добавить</button></p>
</form>
{% endblock %}

